<!DOCTYPE html>
<html>
  <head>
    <title> Assassin's Creed </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "icon" href = 
"https://jovian-web-dev--bhuvansun.repl.co/static/acvalhalla.jpeg" 
        type = "image/jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
      #banner {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        object-fit: cover
      }
    </style>
  </head>
  <body>
    <div class = 'container'>
      <h1 class = 'text-center mt-2 mb-4'> Assassin's Creed @{{company_name}} </h1>
      <img class = 'img-fluid' id = 'banner' src = "https://jovian-web-dev--bhuvansun.repl.co/static/ezio.webp">
    <h2 class = 'text-center'> About Assassin's Creed </h2>
    <p class = 'lead'>
      In the vast tapestry of history, where shadows and secrets intertwine, emerges Assassin's Creed, a majestic odyssey that transcends
      time itself. It is a symphony of blood and blades, where the noble Order of Assassins battles against the tyrannical grasp of
      corruption and oppression. Through the eyes of their chosen champions, the Animus unravels the strands of ancestral memories,
      allowing us to traverse the ages and embody legendary figures who shape the destiny of civilizations. From the soaring spires of
      Renaissance Italy to the bustling streets of revolutionary France, from the exotic landscapes of ancient Egypt to the towering
      empires of Greece and beyond, we are swept away on a breathtaking pilgrimage through history's labyrinthine corridors. With the
      seamless fusion of historical accuracy and fantastical intrigue, Assassin's Creed beckons us to embrace our hidden potential, to
      master the art of stealth, combat, and free will, as we become the ultimate agents of change in an epic struggle that echoes through
      the ages.
    </p>
    <h2 class = 'text-center mt-2 mb-4'> Assassins </h2>
    <div> This is a strange website: Do not take anything seriously.
    <br> <br>
      {% for job in jobs %}
        {% include 'jobitem.html' %}
      {% endfor %}
    </div>
    <div class = 'text-center'>
      <button class = 'btn btn-primary btn-lg'> Enter the Animus </button>
      <p class = 'mt-4'> Copyright 422 BC, @Alexios The Eagle Bearer </p>
    </div>
    </div>
  </body>
</html>